<div class="container">
  <div class="form-group">
    <label for="ProductId">Product Id</label>
    <input
      type="text"
      class="form-control"
      id="ProductId"
      [disabled]="productIdEnable"
      [(ngModel)]="product.ProductId"
    />
  </div>
  <div class="form-group">
    <label for="ProductName">Product Name</label>
    <input
      type="text"
      class="form-control"
      id="ProductName"
      [(ngModel)]="product.ProductName"
    />
  </div>
  <div class="form-group">
    <label for="ProductCategory">Category</label>
    <select
      class="form-control"
      id="ProductCategory"
      [(ngModel)]="product.CategoryName"
    >
      <option *ngFor="let c of categories" value="{{ c }}">{{ c }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Manufacturer">Manufacturer</label>
    <input
      type="text"
      class="form-control"
      id="ProductName"
      [(ngModel)]="product.Manufacturer"
    />
  </div>
  <div class="form-group">
    <label for="ProductPrice">Price</label>
    <input
      type="text"
      class="form-control"
      id="ProductPrice"
      [(ngModel)]="product.Price"
    />
  </div>
  <div class="form-group">
    <input
      type="button"
      value="New"
      class="btn btn-secondary"
      (click)="clear()"
    />
    <input
      *ngIf="edit; else editBtnTemp"
      type="button"
      value="Save"
      class="btn btn-success"
      (click)="save()"
    />
    <ng-template #editBtnTemp>
      <input
        type="button"
        value="Edit"
        class="btn btn-primary"
        (click)="update()"
      />
    </ng-template>
  </div>
</div>

<div class="container">
  <table class="table table-striped table-border prd">
    <thead>
      <tr>
        <th *ngFor="let c of tableHeaders">
          <span *ngIf="c != '_id'">{{ c }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products; let i = index">
        <td *ngFor="let c of tableHeaders" (click)="getSelectedrow(p, i)">
          <span *ngIf="c != '_id'">{{ p[c] }}</span>
        </td>
        <td (click)="delete(p, i)">Delete</td>
      </tr>
    </tbody>
  </table>
</div>
